@import '@global';
@import '@colors';
@import '@vars';

.teamButton {
  background: none;
  border: none;
  padding: 10px 0;
  display: flex;
  cursor: pointer;
  border-bottom: 1px dotted $black;
  width: 100%;
  justify-content: center;
  color: $black;
  &.showPoints {
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
}

.chevron {
  margin: 10px 0 0 10px;
}

.teamDetails {
  font-family: 'Franklin Gothic Condensed';
}

.teamDetailsContainer {
  margin-bottom: 50px;
  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }
}

.teamDetailsTitleRow {
  font-family: 'Franklin Gothic Regular';
}
