@import '@colors';
@import '@global';
@import '@vars';

.column {
  width: 80px;
  text-align: center;
  &Medium {
    width: 120px;
    text-align: center;
  }
  &MediumLarge {
    width: 160px;
    text-align: center;
  }
  &Large {
    width: 200px;
  }
}
.borderRight {
  border-right: 1px dotted $black;
}

.borderBottom {
  border-bottom: 1px dotted $black;
}

.pageColumn {
  width: 50%;
  margin-top: 50px;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
